body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    text-align: center;
    background-color: green;
    color: white;
    font-weight: bold;
}

.card {
    color: goldenrod;
    font-size: 50px;
}

#message-el {
    font-style: italic;
}

button {
    height: 60px;
    font-size: 35px;
    align-items: center;
    background-color: gold;
    width: 250px;
    font-weight: bold;
    border-radius: 3px;
    margin-right: 12px;
}

button:hover {
    background-color: chartreuse;
    transition-duration: 0.25s;
}
